.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 117rem;
  margin: 0 auto;
}

.card {
  /* width: 27rem; */
  background:#F7F7F7;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  transition: transform 0.5s ease-in-out;
  flex-direction: column;
  flex: 0 0 27rem;
  margin-bottom: 5rem;
}

.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(66, 137, 244, 0.5);
}

.card__img {
  width: 25rem;
  height: 20rem;
  overflow: hidden;
  border: 0.1rem solid var(--color-primary);
  border-radius: 1rem;
}

.card__img img {
  border-radius: 1rem;
  width: 100%;
}

.info {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__title {
  font-size: 1.4rem;
  font-weight: 500;
}

.info__author {
  font-size: 300;
  font-size: 1.2rem;
}

.btn {
  margin-top: 2rem;
  width: 70%;
  height: 3rem;
  background-image: linear-gradient(-45deg, var(--color-primary), var(--color-primary-dark));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: box-shadow 0.5s ease;

}

.btn:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(66, 137, 244, 0.5);
}

.btn a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}