.container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  color: var(--color-text);
  text-align: center;
}

.content {
  font-size: 1.4rem;
  width: 100%;
  padding: 0.5rem 0;
}
.link {
  color: var(--color-text);
  text-decoration: underline;
}

@media only screen and (max-width: 56.25em) {

  .content {
    font-size: 1.2rem;
  }
}