.container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  color: var(--color-text);
  text-align: center;
}

.content {
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 0;
}
.link {
  color: var(--color-text);
  text-decoration: underline;
  font-size: 1.6rem;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  height: 100%;
  margin-right: 1rem;
}

.button:focus {
  outline: none;
}

.button__icon {
    font-size: 2rem;
}

/* @media only screen and (max-width: 56.25em) {

  .content {
    font-size: 1.2rem;
  }
} */